*{
   margin: 0px;
   padding: 0px;
   /* border: 1px solid lightblue; */
   font-family: 'Inter, sans-serif';
   filter: grayscale(100%);
   list-style: none;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fbfbfb;
}
p{
  color: #666;
}